<div th:fragment="training-form" class="text-center">



	<fieldset>
		<div class="form-group">
			<label for="Name" class="col-lg-2 control-label">Name <span
				class="color-red">*</span></label>

			<div class="col-lg-10">
				<input type="text" class="form-control" placeholder="Name"
					th:field="*{name}" /> <span class="help-block danger"
					th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
					can't be left empty</span>
			</div>
		</div>
		<div class="form-group">
			<label for="Overview" class="col-lg-2 control-label">Overview
				<span class="color-red">*</span>
			</label>
			<div class="col-lg-10">
				<textarea class="form-control" placeholder="Overview"
					th:field="*{overview}"></textarea><span class="help-block"
					th:if="${#fields.hasErrors('overview')}" th:errors="*{overview}">Overview
					can't be left empty</span>
			</div>
		</div>

		<div class="form-group goal-div">
			<label for="Goal" class="col-lg-2 control-label">Goal</label>
			<div class="col-lg-10">
				<div th:each="goal:${trainingForm.goals}" class="entry input-group ">
					<input class="form-control form-goal" th:value="${goal}"
						name="goals" type="text" placeholder="Goal" /> <span
						class="input-group-btn">
						<button class="btn btn-success btn-add" type="button">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="Outline" class="col-lg-2 control-label">Outline</label>
			<div class="col-lg-10">
				<table class="table outline-table">
					<tr>
						<th class="col-lg-4">Date</th>
						<th class="col-lg-7">Content</th>
						<th class="col-lg-1"></th>
						<th></th>
					</tr>
					<tr class="entry-row" th:each="outline : ${trainingForm.outlines}">
						<td>
							<div class='input-group date_selector'>
								<input type='text' name="outline-date" class="form-control"
									placeholder="Training date" /> <span class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</td>
						<td><div class="">
								<input type="text" class="form-control outline-text"
									placeholder="Outline" name="outline-text" />
							</div></td>
						<td><span class="input-group-btn">
								<button class="btn btn-success btn-add-outline" type="button">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
						</span></td>
						<td><input type="hidden" name="outlines"
							class="outline-input" th:value="${outline}" /></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="form-group">
			<label for="Premise" class="col-lg-2 control-label">Premise</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" placeholder="Premise"
					th:field="*{premise}" />
			</div>
		</div>

		<div class="form-group">
			<label for="Date" class="col-lg-4 control-label">Beginning
				date</label>
			<div class='col-lg-4 input-group date' id='id_date'>
				<input type='text' class="form-control" th:field="*{date}"
					placeholder="Starting date" /> <span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<label for="Target" class="col-lg-4 control-label"
				style="text-align: left;">Due date <span class="color-red">*</span></label>
			<div class='col-lg-4 input-group date' id='id_duedate'>
				<input type='text' class="form-control" th:field="*{dueDate}"
					placeholder="Deadline" /> <span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<span class="help-block"
					th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">Due Date
					can't be left empty</span>
		</div>

		<div class="form-group">
			<label for="Target" class="col-lg-2 control-label">Target
				people</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" placeholder="Target"
					th:field="*{targetPeople}" />
			</div>
		</div>

		<div class="form-group">
			<label for="Target" class="col-lg-2 control-label">Participant
				# <span class="color-red">*</span>
			</label>
			<div class="col-lg-10">
				<input type="number" min="1" step="1" class="form-control"
					placeholder="Number of Participants"
					th:field="*{participantNumber}" />
					<span class="help-block"
					th:if="${#fields.hasErrors('participantNumber')}" th:errors="*{participantNumber}">Participant number
					can't be left empty</span>
			</div>
		</div>

		<div class="form-group"></div>

		<div class="form-group">
			<label for="Venue" class="col-lg-2 control-label">Venue<span
				class="color-red">*</span></label>
			<div class="col-lg-10">
				<input type="text" class="form-control" placeholder="Venue"
					th:field="*{venue}" />
					<span class="help-block"
					th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}">Venue
					can't be left empty</span>
			</div>
		</div>
		<div class="form-group">
			<label for="Status" class="col-lg-2 control-label">Status <span
				class="color-red">*</span></label>
			<div class="col-lg-10">
				<select class="col-lg-6 form-control" th:field="*{status}"
					id="status">
					<option th:value="${trainingForm.STATUS_OPEN}">Open</option>
					<option th:value="${trainingForm.STATUS_ALMOST}">Almost
						full</option>
					<option th:value="${trainingForm.STATUS_CLOSED}">Closed</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button type="submit" class="btn btn-success btn-lg"
					style="padding: 8px 30px;">Add</button>
			</div>
		</div>


	</fieldset>
	<script src="../../../resources/js/moment.js"
		th:src="@{/resources/js/moment.js}"></script>

	<link href="../../../resources/css/bootstrap-multiselect.css"
		rel="stylesheet" media="screen"
		th:href="@{/resources/css/bootstrap-multiselect.css}" />

	<script src="../../../resources/js/bootstrap-multiselect.js"
		th:src="@{/resources/js/bootstrap-multiselect.js}"></script>
	<script src="../../../resources/js/bootstrap-datetimepicker.js"
		th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>

	<script type="text/javascript">
		// decode hidden input outline into (date, content)inputs
		$(document).ready(function() {
			$this = $('#trainingForm');
			$this.find('.outline-input').each(
				function() {
					$t2 = $(this);
					$input_date = $t2.parents('tr').find('input.outline-date:first');
					$input_text = $t2.parents('tr').find('input.outline-text:first');
					console.log($input_date);
					//console.log($input_text);
					var mjson = jQuery.parseJSON($t2.val());
					console.log(mjson["outline-date"]);
					$input_text.val(mjson["outline-text"]);
					$input_date.val(mjson["outline-date"]);
			});
		});
		
		// function to serialize input to JSON array
		$.fn.serializeObject = function() {
			var o = {};
			var a = this.serializeArray();
			$.each(a, function() {
				if (o[this.name] !== undefined) {
					if (!o[this.name].push) {
						o[this.name] = [ o[this.name] ];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});
			return o;
		};

		$(function() {

			// Date time pickers
			$('#id_date').datetimepicker({
				format : "D/MM/YYYY, HH:mm"
			});
			$('#id_duedate').datetimepicker({
				format : "D/MM/YYYY, HH:mm"
			});

			//$('.date_selector').datetimepicker({
			//	format : "D/MM/YYYY, HH:mm"
			//});
			// Multiselect
			/*			$('#venue').multiselect({
			 buttonWidth : '400px',
			 dropRight : true
			 });
			 */

			// add more button
			$(document).on('click', '.btn-add',function(e) {
								e.preventDefault();

								var controlForm = $('.add-training form:first .goal-div div:first'), currentEntry = $(
										this).parents('.entry:first'), newEntry = $(
										currentEntry.clone()).appendTo(
										controlForm);

								newEntry.find('input').val('');
								controlForm
										.find('.entry:not(:last) .btn-add')
										.removeClass('btn-add')
										.addClass('btn-remove')
										.removeClass('btn-success')
										.addClass('btn-danger')
										.html(
												'<span class="glyphicon glyphicon-minus"></span>');
							}).on('click', '.btn-remove', function(e) {
						$(this).parents('.entry:first').remove();
						e.preventDefault();
						return false;
					});

			// add more outline button
			$(document)
					.on(
							'click',
							'.btn-add-outline',
							function(e) {
								e.preventDefault();

								var controlForm = $('.outline-table:first'), currentEntry = $(
										this).parents('.entry-row:first'), newEntry = $(
										currentEntry.clone()).appendTo(
										controlForm);

								//								rowCount = controlForm.find('tr').length;
								//								console.log(rowCount);
								//								$td = newEntry.find('td:first');
								//								console.log($td.text());
								//									$td.text(rowCount - 1) ;
								newEntry.find('input').val('');
								newEntry.find('.date_selector').datetimepicker(
										{
											format : "D/MM/YYYY, HH:mm"
										});
								controlForm
										.find(
												'.entry-row:not(:last) .btn-add-outline')
										.removeClass('btn-add-outline')
										.addClass('btn-remove-outline')
										.removeClass('btn-success')
										.addClass('btn-danger')
										.html(
												'<span class="glyphicon glyphicon-minus"></span>');
							}).on('click', '.btn-remove-outline', function(e) {
						$(this).parents('.entry-row:first').remove();
						e.preventDefault();
						return false;
					});

			// handle form submit and serialize fields

			$('#trainingForm').on(
					'submit',
					function(e) {
						// e.preventDefault();
						$this = $(this);
						$this.find('.outline-input').each(
								function() {
									$t2 = $(this);
									$inputs = $t2.parents('tr').find('input')
											.not($t2);
									enc = encodeURIComponent(JSON
											.stringify($inputs
													.serializeObject()));
									$t2.val(enc);
									//val(encodeURIComponent($('table.outline-table')));
								});

						$this.find('.outline-text').each(function() {
							// This urlencodes value of outlines
							this.value = encodeURIComponent(this.value);
						});

						// console.log($(this).serialize());
					});
		});
	</script>

</div>