<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Training Management System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
		media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
	<link href="../../../resources/css/core.css" rel="stylesheet"
		media="screen" th:href="@{/resources/css/core.css}" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="../../../resources/js/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="container text-center">
		<div class="details">
		<h2>Learn Keigo Training</h2>
		</div>
		<div class="details">
		<h3><small>Overview</small></h3> 
		<p>Lorem ipsum dolor sit amet,
		 consectetur adipiscing elit. Vestibulum vitae rhoncus est. 
		 Suspendisse mollis odio et lacinia commodo. Integer vestibulum 
		 sagittis ante in consectetur. In felis felis, dictum eget est eget, 
		 eleifend pretium sem. Suspendisse interdum lobortis ante, nec 
		 elementum mi posuere quis. Nunc ut laoreet turpis. Morbi a nisi sed elit 
		 semper pellentesque. Ut odio sem, volutpat in luctus vitae, tempor eget odio.
		  Aliquam tempus lacus a imperdiet gravida. Nam et leo eu dolor aliquet accumsan.</p>
		</div>
		<div class="details">
		<h3><small>Training Goal</small></h3>
		<ul class="details">
		<li>Nulla sit amet lorem eu mi aliquam dictum bibendum id dui.</li>
		<li>Curabitur ante ipsum, congue sit amet ornare nec, pharetra fringilla metus. </li>
		<li>Nulla facilisi. Suspendisse potenti. Vestibulum ut pellentesque urna. </li>
		 </ul>
		</div>
		<div class="details">
		<h3><small>Target People</small></h3>
		<ul class="details">
		<li>Fusce mi quam, placerat in accumsan in, mattis sit amet arcu.</li>
		<li>Vestibulum at efficitur lorem, nec porta dui.</li>
		 </ul>
		</div>
		<div class="details">
		<h3><small>Training Date </small></h3>
		<h3>2015 May 04</h3>
		</div>
		<div class="details">
		<h3><small>Number of participants</small></h3>
		<h3> 64</h3>
		</div>
		<div >
		<h3><small>Training Venue</small></h3>
		<h3>The Bridge</h3>
		</div>
		<div class="details">
		<h3><small>Deadline</small></h3>
		<h3>2015 April 28</h3>
		</div>
		<div class="details">
		<h3><small>Notes</small></h3>
		<p>
		 Fusce vehicula laoreet laoreet. 
		 Sed mattis, neque at rhoncus dictum, dui velit eleifend ipsum, vitae euismod elit nulla id tellus. 
		 Phasellus nibh odio, imperdiet ut pretium in, vulputate vitae quam. 
		 Fusce suscipit tincidunt leo, quis consequat nunc accumsan at. 
		 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
		 Praesent pharetra dui eu sapien gravida aliquet. 
		 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eu risus mauris. 
		 Suspendisse eget arcu finibus, molestie ante ac, rutrum lorem. Etiam venenatis risus at pharetra mattis.		
		</p>
		</div>
		
	</div>
</body>
</html>