<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="container">

	<u><h2>List of all training history</h2></u>
	<table id="training-list" class="table roundtable">
		<tr>
		<th>Training Name</th>
		<th>Details</th>
		<th>Date</th>
		<th>Status</th>
		<th></th>
		</tr>
		<tr class="training-item" th:each="training : ${trainings}" th:attr="data-id=${training.getId()}">
	    <td><a href="" th:href="@{/trainings/{id}(id=${training.id})}" th:text="${training.name}">Add Programs</a></td>
	    <td th:text="${training.overview}">1</td>
	    <td th:text="${training.due_date}">1</td>
	    <td th:text="${training.status}">1</td>
	    <td>
	    	<a href="#" th:href="@{/trainings/{id}/edit(id=${training.id})}"><span class="glyphicon glyphicon-pencil"></span></a>
	    	<a class="training-delete-btn" href="#"><span class="glyphicon glyphicon-remove"></span></a>
	    	<a class="training-delete-btn" href="#" th:href="@{/manager/manage(id=${training.id})}"><span class="glyphicon glyphicon-plus"></span></a>
	    </td>
		</tr>
	</table>
	</div>
	

</body>
</html>
