<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div th:replace="fragments/leftNav :: leftNav">LeftNav</div>

	<div class="col-lg-9 container">
		<div th:replace="fragments/pagePath :: pagePath">pagePath</div>
		<h2>List of all training history</h2>

		<form id="training-search" method="get" action="#">
			<input type="text" class="" name="name" size="21" maxlength="120"></input>
			<!-- 
			<input type="submit" value="search" class=""></input>
			 -->
		</form>

		<div id="training-list">
			<div
				th:replace="training/_training_list :: training-list(${trainings})">Header</div>
		</div>
	</div>


</body>
</html>
