<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>

	<div class="container text-center"></div>

	<div class="container text-center add-training">
		<form th:action="@{/trainings}" class="form-horizontal" method="POST"
			autocomplete="off">

			<fieldset>
				<legend>Add a new training program</legend>
				<div class="form-group">
					<label for="Name" class="col-lg-2 control-label">Name</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="Name"
							placeholder="Name" name="name" />
					</div>
				</div>

				<div class="form-group">
					<label for="Overview" class="col-lg-2 control-label">Overview</label>
					<div class="col-lg-10">
						<textarea class="form-control" id="Overview"
							placeholder="Overview" name="overview"></textarea>
					</div>
				</div>

				<div class="form-group goal-div">
					<label for="Goal" class="col-lg-2 control-label">Goal</label>
					<div class="col-lg-8">
						<div class="entry input-group ">
							<input class="form-control" name="goals[]" type="text"
								placeholder="Goal" /> <span class="input-group-btn">
								<button class="btn btn-success btn-add" type="button">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
					<!-- 	<div class="entry input-group ">
							<input class="form-control" name="goal[]" type="text"
								placeholder="Goal" /> <span class="input-group-btn">
								<button class="btn btn-success btn-add" type="button">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
 					-->
					</div>
				</div>

				<div class="form-group">
					<label for="Outline" class="col-lg-2 control-label">Outline</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="Outline"
							placeholder="Outline" name="outline" />
					</div>
				</div>

				<div class="form-group">
					<label for="Premise" class="col-lg-2 control-label">Premise</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="Premise"
							placeholder="Premise" name="premise" />
					</div>
				</div>

				<div class="form-group">
					<label for="Date" class="col-lg-2 control-label">Beginning
						date</label>
					<div class='col-lg-4 input-group date' id='id_date'>
						<input type='text' class="form-control" name="date"
							placeholder="Starting date" /> <span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<label for="Target" class="col-lg-2 control-label">Application
						deadline</label>
					<div class='col-lg-4 input-group date' id='id_duedate'>
						<input type='text' class="form-control" name="duedate"
							placeholder="Deadline" /> <span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>

				</div>

				<div class="form-group">
					<label for="Target" class="col-lg-2 control-label">Target
						people</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="Target"
							placeholder="Target" name="target" />
					</div>
				</div>

				<div class="form-group">
					<label for="Target" class="col-lg-2 control-label">Participant
						number</label>
					<div class="col-lg-10">
						<input type="number" min="1" step="1" class="form-control"
							id="ParticipantNum" placeholder="Number of Participants"
							name="participantNum" />
					</div>
				</div>

				<div class="form-group"></div>

				<div class="form-group">
					<label for="Venue" class="col-lg-2 control-label">Venue</label>
					<div class="col-lg-10">
						<!-- 						<input type="text" class="form-control" id="Venue"
							placeholder="Venue" name="venue" />   -->
						<select class="col-lg-4" id="venue" multiple="multiple" name="venue">
							<option value="13">Asakai room</option>
							<option value="5">Outside</option>
							<option value="6">Fitness Club</option>
							<option value="8">East Tower</option>
							<option value="90">RT2 3F</option>
							<option value="32">TOEIC Room</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">Add</button>
					</div>
				</div>


			</fieldset>
		</form>
	</div>
	<script src="../../../resources/js/moment.js"
		th:src="@{/resources/js/moment.js}"></script>

	<link href="../../../resources/css/bootstrap-multiselect.css"
		rel="stylesheet" media="screen"
		th:href="@{/resources/css/bootstrap-multiselect.css}" />

	<script src="../../../resources/js/bootstrap-multiselect.js"
		th:src="@{/resources/js/bootstrap-multiselect.js}"></script>
	<script src="../../../resources/js/bootstrap-datetimepicker.js"
		th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>

	<script type="text/javascript">
		$(function() {

			// Date time pickers
			$('#id_date').datetimepicker();
			$('#id_duedate').datetimepicker();

			// Multiselect
			$('#venue').multiselect({
				buttonWidth : '400px',
				dropRight : true
			});

			// add more button
			$(document)
					.on(
							'click',
							'.btn-add',
							function(e) {
								e.preventDefault();

								var controlForm = $('.add-training form:first .goal-div div:first'), currentEntry = $(
										this).parents('.entry:first'), newEntry = $(
										currentEntry.clone()).appendTo(
										controlForm);

								console.log(controlForm);
								console.log(currentEntry);
								console.log(newEntry);
								
								newEntry.find('input').val('');
								controlForm
										.find('.entry:not(:last) .btn-add')
										.removeClass('btn-add')
										.addClass('btn-remove')
										.removeClass('btn-success')
										.addClass('btn-danger')
										.html(
												'<span class="glyphicon glyphicon-minus"></span>');
							}).on('click', '.btn-remove', function(e) {
						$(this).parents('.entry:first').remove();
						e.preventDefault();
						return false;
					});
		});
	</script>

</body>
</html>