<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div th:replace="fragments/leftNav :: leftNav">LeftNav</div>

	<div class="col-lg-9 container">
		<div th:replace="fragments/pagePath :: pagePath">pagePath</div>
		
	<div class="container text-center">
	    <blockquote class="trainingtitle">
	    <h1 th:text="${training.name}">Course name</h1>
	    </blockquote>
	    
	    <div class="panel">
	    <h3 class="panel-heading">Training overview</h3>
	    <div class="panel-body" th:text="${training.overview}"></div>
	    </div>
	    
        <div class="panel">
        <h3 class="panel-heading">Target employees</h3>
	    <!-- <div class="panel-body" th:text="${training.target}"></div> -->
        </div>
        
        <div class="panel">
        <h3 class="panel-heading">By the end of this course, you should be able to...</h3>
	    <!-- <div class="panel-body" th:text="${training.goals}"></div> -->
        </div>
        
        <div class="row">
          <div class="col-md-6">
          <div class="panel">
          <h3 class="panel-heading">Course curriculum</h3>
	      <!-- <div class="panel-body" th:text="${training.curriculum}"></div> -->
          </div>
          </div>
          <div class="col-md-6">
          <div class="panel">
          <h3 class="panel-heading">Course information</h3>
          <table border="1" style="width:100%">
          <tr>
            <td class="type"><b>Period</b></td>
            <td>thymeleaf</td>
          </tr>
       	  <tr>
    		<td class="type"><b>Location</b></td>
    		<td>thymeleaf</td>
  		  </tr>
  		  <tr>
    		<td class="type"><b>Seats Available</b></td>
    		<td>thymeleaf</td>
  		  </tr>
  		  <tr>
    		<td class="type"><b>Application Deadline</b></td>
    		<td>thymeleaf</td>
  		  </tr>
  		  <tr>
    		<td class="type"><b>Things to Bring</b></td>
    		<td>thymeleaf</td>
  		  </tr>
		  </table> 

          </div>
          </div>
        </div>
        </div>
        </div>
</body>
</html>
