body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


div.details {
	max-width: 800px;
	margin: 20px auto 20px;
	border-bottom: 1px solid #ccc;	
	
}

blockquote.trainingtitle {
	background-color: red;
	border-left: 5px solid red;
	text-align: left;
}

td {
	padding: 8px;
}

td.type {
	background-color: #C1C1C1;
}

.panel {
	min-height: 40px;
	background-color: transparent;
	border-style: none;
	border-color: black;
	box-shadow: none;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

.panel-heading {
	border-style: solid none none solid;
	border-width: 2px 0px 0px 2px;
	border-color: #BABABA;
	font-family: "Plantagenet Cherokee", Georgia, serif;
	color: #8585FF;
}

ul.details {
	list-style-type: none;
	display: block;
}

ul.details > li {
	/*float: left; */
}

p.welcome {
	margin: 50px auto;
	font-size: 1.2em;
}

table.traininglist {
	width: 80%;
	min-width: 400px;
	margin: 50px auto;
}