.add-training {
	width: 60%;
	
}

div.form-group {
/*	margin-bottom: 10px; */
	display: block; 
/*	overflow: hidden; */
	
}

.logo-name {
	color: #efefef;
}

.rakuten-logo {
	margin-bottom: 30px;
}

.form-row {
	margin-bottom: 60px;
}
