<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div th:replace="fragments/leftNav :: leftNav">LeftNav</div>

	<div class="col-lg-9 container begin-div">
		<div th:replace="fragments/pagePath :: pagePath">pagePath</div>

		<div class="container" align="left">
			<u>
				<h2 th:text="'Register Employee to '+${tumc.training.getName()}">
					Manage trainings</h2>
			</u>
		</div>



		<table class="table">
			<tr>
			  <th>Registered: <a class="training-delete-btn" href="#"
					th:href="@{/manager/remove(id=${regEmployeeForm.getTrainingId()})}"><span
						class="glyphicon glyphicon-minus"></span></a></th>
			</tr>
			<tr>
			  <td>
				<div class="row list-group" >
                  <div th:each="in: ${tumc.in}" th:text="${in.getName()}" class="col-sm-3 list-group-item list-group-item-plain" ></div>
                </div>
              </td>
			</tr>
		</table>



		<div th:if="${tumc.getOut().size()>0}">
			<form th:action="@{/manager/addEmployee}"
				th:object="${regEmployeeForm}">

				<fieldset>
					<legend></legend>
					<div class="form-group">
						<label for="New Admin" class="col-lg-2 control-label">Employees</label>
						<!-- <select multiple="multiple" class="form-control" id="regAccount" th:field="*{out}" >
              <option th:each="list : ${tumc.getOut()}" th:text="${list.getName()}" th:value="${list.getId()}" value="1">1</option>
            </select> -->
						<select class="selectpicker col-lg-7" data-live-search="true"
							multiple="multiple" name="out" data-style="btn-inverse">
							<option th:each="list : ${tumc.getOut()}"
								th:text="${list.getName()}" th:value="${list.getId()}" value="1">1</option>
						</select> <input type="hidden" class="form-control" id="trainingId"
							placeholder="trainingId" th:field="*{trainingId}"
							th:value="${regEmployeeForm.getTrainingId()}" />
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-success" >Add</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div th:if="${tumc.getOut().size()==0}">Everyone is registered</div>

	</div>
</body>
</html>
