<div th:fragment="training-list(trainings)">

	<table th:if="${trainings!=null and trainings.size()>0}" class="table roundtable">
		<tr>
			<th>Training Name</th>
			<th>Details</th>
			<th>Date</th>
			<th>Status</th>
			<th th:if="${pageContent.isAdmin()||pageContent.isManager()}"></th>
		</tr>

		<tr th:each="training : ${trainings}">
					<td><a href="" th:href="@{/trainings/{id}(id=${training.id})}"
						th:text="${training.name}">Add Programs</a></td>
					<td th:text="${T(com.rakuten.PenguinSoldiers.util.ViewUtil).html2text(training.getOverview(100))}">Overview</td>
					<td th:text="${#calendars.format(training.due_date,'MMMM dd, yyyy')}">date</td>
					<td th:text="${training.status}">status</td>
					<td th:if="${pageContent.isAdmin()||pageContent.isManager()}">
						
						<a th:if="${pageContent.isAdmin()}" href="#"
						th:href="@{/trainings/{id}/edit(id=${training.id})}"><span
							class="glyphicon glyphicon-pencil"></span></a> 
						<a
						th:if="${pageContent.isAdmin()}" class="training-delete-btn"
						th:onclick="${'deleteTraining('+training.id+')'}" href="#" onclick=""><span class="glyphicon glyphicon-remove"></span></a> 
						
						<a
						th:if="${pageContent.isManager()}" class="training-delete-btn"
						href="#" th:href="@{/manager/manage(id=${training.id})}"><span
							class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
	</table>
	
</div>

<div th:if="${trainings==null or trainings.size()==0}" class="">No
				Training Found.</div>