<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		</th:block>
	</div>
	
	
	<div class="container">
	<u><h2>List of coming training programs</h2></u>
	<table class="table roundtable">
		<tr>
		<th>Training Name</th>
		<th>Details</th>
		<th>Date</th>
		<th>Status</th>
		</tr>
		<tr th:each="training : ${trainings}">
	    <td><a href="" th:href="@{/trainings/{id}(id=${training.id})}" th:text="${training.name}">Add Programs</a></td>
	    <td th:text="${training.overview}">1</td>
	    <td th:text="${training.due_date}">1</td>
	    <td th:text="${training.status}">1</td>
		</tr>
	</table>	
	</div>

</body>
</html>