<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		</th:block>
		<p class="text-centered welcome">Welcome to fantastic world of
			training at RAKUTEN!!!</p>
	</div>


	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<p>
				Forgot password?? <a href="forgotPass" th:href="@{/forgotPass}">Forgot
					Password</a>
			</p>
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<p>
				Add New Training Programs?? <a href="addTrainingPrograms"
					th:href="@{/addTrainingPrograms}">Add Programs</a>
			</p>
		</div>
	</div>
	
		<h2>List of my trainings</h2>
	<table class="table traininglist">
		<tr>
		<th>Training Name</th>
		<th>Number of participants</th>
		</tr>
		<tr th:each="training : ${trainings}">
	    <td><a href="" th:href="@{/trainings/{id}(id=${training.id})}" th:text="${training.name}">Add Programs</a></td>
	    <td th:text="${training.max_participants}">1</td>
		</tr>
	</table>

</body>
</html>