<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="container text-center">
		<div class="text-center">
			<h1>PenguinSoldiers FTW!!!</h1>
			<p class="lead">Welcome to fantastic world of training at RAKUTEN!!!</p>
			<p>
				<a href="/signup" th:href="@{/signup}"
					class="btn btn-success btn-lg">Sign up</a>
			</p>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2015
			PenguinSoldiers</div>
	</div>
</body>
</html>