<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		</th:block>
	</div>
	<div th:replace="fragments/leftNav :: leftNav">LeftNav</div>

	<div class="col-lg-9 container">
		<div th:replace="fragments/pagePath :: pagePath">pagePath</div>

		<div class="container">
		
		
			<ul class="nav nav-tabs">
				<li id="training_tab_in" th:class="${hpc.showActiveTrainingTab(hpc.TRAINING_TAB_IN)}"
					class=""><a href="?filter=in" onclick="queryTrainingList('./?filter=in');updateTrainingTab('training_tab_in')">Your training</a></li>
				<li id="training_tab_past" th:class="${hpc.showActiveTrainingTab(hpc.TRAINING_TAB_PAST)}"><a
					href="?filter=past">Past training</a></li>
				<li id="training_tab_out" th:class="${hpc.showActiveTrainingTab(hpc.TRAINING_TAB_OUT)}"><a
					href="?filter=out">Available training</a></li>
					<form id="" method="get" action="#">
			    <input th:value="${'training_tab_out'}" type="hidden" class="" name="activeTrainingTab" id="activeTrainingTab"></input>
			    </form>
			</ul>
			
					<form id="training_form" method="get" action="#">
			<input type="text" class="" name="name" id="name" size="21" maxlength="120" onkeyup="reloadTrainingHomePage()"></input>
			<input th:value="${hpc.getTrainingTab()}" type="hidden" class="" name="filter" id="training_form_filter" size="21" maxlength="120"></input>
			<!-- 
			<input type="submit" value="search" class=""></input>
			 -->
		</form>
			<div id="training_list">
			  <div th:replace="home/_training_list :: training-list(${trainings})">Header
			<table th:if="${trainings!=null and trainings.size()>0}"
				class="table roundtable">
				<tr>
					<th>Training Name</th>
					<th>Details</th>
					<th>Date</th>
					<th>Status</th>
					<th th:if="${pageContent.isAdmin()||pageContent.isManager()}"></th>
				</tr>
				<tr th:each="training : ${trainings}">
					<td><a href="" th:href="@{/trainings/{id}(id=${training.id})}"
						th:text="${training.name}">Add Programs</a></td>
					<td th:text="${training.getOverview(100)}">Overview</td>
					<td th:text="${#calendars.format(training.due_date,'MMMM dd, yyyy')}">date</td>
					<td th:text="${training.status}">status</td>
					<td th:if="${pageContent.isAdmin()||pageContent.isManager()}">
						<a th:if="${pageContent.isAdmin()}" href="#"
						th:href="@{/trainings/{id}/edit(id=${training.id})}"><span
							class="glyphicon glyphicon-pencil"></span></a> <a
						th:if="${pageContent.isAdmin()}" class="training-delete-btn"
						href="#"><span class="glyphicon glyphicon-remove"></span></a> <a
						th:if="${pageContent.isManager()}" class="training-delete-btn"
						href="#" th:href="@{/manager/manage(id=${training.id})}"><span
							class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
			</table>
			  </div>
			</div>
			<div th:if="${trainings==null or trainings.size()==0}" class="">No
				Training Found.</div>
		</div>
	</div>
</body>
</html>