<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>

<div class="container text-center">
</div>

<div class="container text-center add-training">
<form th:action = "@{/admin/addAdmin}" >

    <fieldset>
        <legend>Add New Admin Member</legend>
        <div class="form-group">
            <label for="New Admin" class="col-lg-2 control-label">New Admin id</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="NewAdminId" placeholder="NewAdminId" name="newAdminId"  />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </div>


    </fieldset>
</form>
</div>
</body>
</html>