<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div th:replace="fragments/leftNav :: leftNav">LeftNav</div>
	<div class="col-lg-9 begin-div">
		<div th:replace="fragments/pagePath :: pagePath">pagePath</div>

		<div class="container text-center">
			<!--  
<div th:text="${acpc.generate()}">1</div>
 -->
			<legend>Add New Admin Member</legend>
			<div class="container add-trainings form-add">
				<div class="row list-group">
					<div th:each="admin : ${acpc.admins}" th:text="${admin.name}"
						class="col-lg-3 list-group-item" style="background-color: #ada;"></div>
				</div>
			</div>
		</div>
</body>
</html>