<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Training Programs - admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
<form th:action = "@{/addAction}" >

    <fieldset>
        <legend>Add Training Programs Here</legend>
        <div class="form-group">
            <label for="Name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Name" placeholder="Name" name="name"  />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Overview" class="col-lg-2 control-label">Overview</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Overview" placeholder="Overivew" name="overview"  />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Goal" class="col-lg-2 control-label">Goal</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Goal" placeholder="Goal" name="goal" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Outline" class="col-lg-2 control-label">Outline</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Outline" placeholder="Outline" name="outline" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Premise" class="col-lg-2 control-label">Premise</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Premise" placeholder="Premise" name="premise" />
            </div>
        </div>
        
       <div class="form-group">
            <label for="Date" class="col-lg-2 control-label">Date</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Date" placeholder="Date" name="date" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Target" class="col-lg-2 control-label">Target people</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Target" placeholder="Target" name="target" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Target" class="col-lg-2 control-label">Participant number</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="ParticipantNum" placeholder="ParticipantNum" name="participantNum" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Target" class="col-lg-2 control-label">Due date</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Duedate" placeholder="Duedate" name="duedate" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="Venue" class="col-lg-2 control-label">Venue</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Venue" placeholder="Venue" name="venue" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </div>


    </fieldset>
</form>
</body>
</html>