<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>

<div class="container" align="left">
    <u>
    <h2> Administrator </h2>
    </u>
</div>

<div class="container text-center add-training">
<ul>
<li><a href="/admin/addAdmin" th:href="@{admin/addAdminPage}" >Add Admin Member</a></li>
<li><a href="/trainings/new" th:href="@{trainings/new}" >Add Training Programs</a></li>
</ul>
</div>

	<table class="table roundtable" >
		<tr>
		<th>Training Name</th>
		<th>Details</th>
		<th>Date</th>
		<th>Status</th>
		<th>Action</th>
		</tr>
		<tr th:each="training : ${trainings}">
	    <td><a href="" th:href="@{/trainings/{id}(id=${training.id})}" th:text="${training.name}">Add Programs</a></td>
	    <td th:text="${training.overview}">1</td>
	    <td th:text="${training.due_date}">1</td>
	    <td th:text="${training.status}">1</td>
	    <td>
        <li><a href="/training/edit" th:href="@{training/edit}" >Edit</a></li>
        </td>
		</tr>
	</table>	


</body>
</html>